button[type=roll].sheet-d100-roll-button::before {
  font-family: 'dicefontd10';
  content: 't';
}

.sheet-type-toggle-container {
  margin-top: 5px;
}

div.sheet-type-toggle {
    width: 195px;
    height: 30px;
    position: relative;
    display: inline;
}

input.sheet-type-toggle {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1;
}

span.sheet-type-toggle {
    margin: 10px 0 0 40px;
    display: none;
}

.sheet-tab-content { display: none; }

input.sheet-ace-toggle:checked ~ div.sheet-ace,
input.sheet-elite-toggle:checked ~ div.sheet-elite,
input.sheet-mook-toggle:checked ~ div.sheet-mook { display: block; }

input.sheet-ace-toggle { z-index: 2; }

input.sheet-ace-toggle:checked + input.sheet-elite-toggle,
input.sheet-elite-toggle:checked + input.sheet-mook-toggle { z-index: 3; }

input.sheet-ace-toggle:checked ~ span.sheet-ace-toggle,
input.sheet-elite-toggle:checked ~ span.sheet-elite-toggle,
input.sheet-mook-toggle:checked ~ span.sheet-mook-toggle { display: inline-block; }

input.sheet-will-toggle { display: none; }
input.sheet-will-toggle:not(:checked) ~ div.sheet-will-toggle { display: none; }

input.sheet-spirit-toggle { display: none; }
input.sheet-spirit-toggle:not(:checked) ~ div.sheet-spirit-toggle { display: none; }

.sheet-row {
  border: 1px solid;
  margin-top: 5px;
  padding: 5px;
}

.sheet-character-personal-info {
  display: inline;
}

.sheet-statistic-row:not(:first-child) {
  padding-top: 5px;
}

.sheet-statistic-row:not(:last-child) {
  border-bottom: 1px solid;
  padding-bottom: 5px;
}

.sheet-resource-cell {
  display: block;
}

.sheet-resource-label {
  display: inline;
  font-size: 1em;
  padding-right: 0px;
}

.sheet-attribute-label {
  display: inline-block;
}

.sheet-version-number {
  display: none;
}
