button[type=roll].sheet-d100-roll-button::before {
  font-family: 'dicefontd10';
  content: 't';
}

.sheet-type-toggle-container {
  margin-top: 5px;
}

div.sheet-type-toggle {
  width: 195px;
  height: 30px;
  position: relative;
  display: inline;
}

input.sheet-type-toggle {
  width: 3em;
  height: 2em;
  position: absolute;
  z-index: 1;
  opacity: 0;
  margin: .9em 0 0 -1em;
}

span.sheet-type-toggle {
  display: none;
  margin: 10px 0 0 -10px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  padding: .2em;
  box-shadow: 0 1px 1px rgba(0,0,0,0.075)
}

.sheet-tab-content { display: none; }

input.sheet-ace-toggle:checked ~ div.sheet-ace,
input.sheet-elite-toggle:checked ~ div.sheet-elite,
input.sheet-mook-toggle:checked ~ div.sheet-mook { display: block; }

input.sheet-ace-toggle { z-index: 2; }

input.sheet-ace-toggle:checked + input.sheet-elite-toggle,
input.sheet-elite-toggle:checked + input.sheet-mook-toggle { z-index: 3; }

input.sheet-ace-toggle:checked ~ span.sheet-ace-toggle,
input.sheet-elite-toggle:checked ~ span.sheet-elite-toggle,
input.sheet-mook-toggle:checked ~ span.sheet-mook-toggle { display: inline-block; }

input.sheet-will-toggle { display: none; }
input.sheet-will-toggle:not(:checked) ~ div.sheet-will-toggle { display: none; }

input.sheet-spirit-toggle { display: none; }
input.sheet-spirit-toggle:not(:checked) ~ div.sheet-spirit-toggle { display: none; }

/* Main sheet tabs based on Pokemon Tabletop United sheet. */
input.sheet-stats-tab:checked ~ .sheet-stats-tab,
input.sheet-spirit-tab:checked ~ .sheet-spirit-tab,
input.sheet-attacks-tab:checked ~ .sheet-attacks-tab,
input.sheet-abilities-tab:checked ~ .sheet-abilities-tab {
  display: block;
}

input.sheet-section-tab {
  width: calc(20% - 4px);
  max-width: 150px;
  height: 20px;

  outline: none !important;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

input.sheet-stats-tab {
  margin-left: 1px;
}

input.sheet-section-tab::before {
  content: attr(title);
  display: inline-block;

  background: #fff;
  border: solid 1px #a8a8a8;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  font-size: 14px;
  font-weight: bold;
  text-align: center;

  width: 100%;
  height: 20px;
}

input.sheet-section-tab:checked::before {
  border-bottom-color: white;
}

.sheet-tab [type=radio] {
  display: none;
}

/* Content layout components */

.sheet-row {
  border: 1px solid;
  margin-top: 5px;
  padding: 5px;
}

.sheet-character-personal-info {
  display: inline;
}

.sheet-statistic-row:not(:first-child) {
  padding-top: 5px;
}

.sheet-statistic-row:not(:last-child) {
  border-bottom: 1px solid;
  padding-bottom: 5px;
}

.sheet-resource-cell {
  display: block;
}

.sheet-resource-label {
  display: inline;
  font-size: 1em;
  padding-right: 0px;
}

.sheet-attribute-label {
  display: inline-block;
}

.sheet-version-number {
  display: none;
}

/* Point buy stat select based on:
 * https://wiki.roll20.net/CSS_Wizardry#Fill_Radio_Buttons_to_the_Left
 */

/* Hide actual radio */
input[type='radio'].sheet-stat-point-buy {
  opacity: 0;
  width: 16px;
  height: 16px;
  position: relative;
  top: 5px;
  left: 6px;
  margin: -10px;
  cursor: pointer;
  z-index: 1;
}

/* Fake radio */
input[type='radio'].sheet-stat-point-buy + span::before {
  margin-right: 4px;
  border: solid 1px #a8a8a8;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 2px #ccc;
  background: lime;
  content: '';
  width: 6px;
  height: 18px;
  font-size: 24px;
  transform: skewX(330deg);
}

/* SO RAINBOW */
input[type='radio'].sheet-stat-point-buy.sheet-go-beyond-the-impossible + span::before {
  background: linear-gradient(red, orange, yellow, green, blue, indigo, violet);
  width: 8px;
  height: 20px;
  border: none;
}

/* Fade out unselected ticks */
input[type='radio'].sheet-stat-point-buy:checked ~ input[type='radio'] + span::before {
  background: #f6f6f6;
}

/* Almost completely hide extra ticks */
input[type='radio'].sheet-go-beyond-the-impossible:checked ~ input[type='radio'] + span::before {
  background: none;
  border: none;
}

input.sheet-stat-point-base {
  margin-right: 1em;
  width: 3em;
}
